* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://wallpaperaccess.com/full/2106427.jpg);
  display: flex;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  
}

main {
  width: 800px;
  height: 100vh;
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 25px;
  border: solid 2px rgb(122, 74, 45);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#logo {
  background-color: black;
  padding: 30px;
  border: yellow 5px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  
  
  font-family: "Road Rage", cursive;
  letter-spacing: 0border.2em;
  line-height: 0.7em;
  font-size: 5.5em;
}

#bulls {
  color: white;
  
}
h4 {
  font-size: 0.9em;
  color: white;
  
}

#cows {
  color: white;
  
}

#instruction {
  width: 85%;
  background-color: rgba(255, 255, 255, 0.733);
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: solid 2px rgb(151, 92, 57);
  line-height: 1.3em;
  
  font-family: Arial, Helvetica, sans-serif;
}

#game {
  display: flex;
  height: 15vh;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
  width: 85%;
}

@media only screen and (max-width: 600px) {

  body { 
     font-size: 0.6em; 
  }

  #instruction{
    height: 250px;
    overflow: hidden scroll;
  }

  #main{
    background-position: center;
  }

  #userNumber {
    font-size: 32px;
  }

}


#control {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#userNumber {
  height: 50px;
  width: 40%;
  font-size: 1.7em;
  border: solid 2px rgb(122, 74, 45);
  border-radius: 10px;
  text-align: center;
}

#check {
  height: 50px;
  width: 30%;
  vertical-align: top;
  color: white;
  border: solid 2px rgb(122, 74, 45);
  border-radius: 10px;
  background-color: rgb(228, 139, 87);
  font-size: 2.3em;
  font-family: "Road Rage", cursive;
}

#results {
  padding: 5%;
  height: 550px;
  font-size: 4em;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 10px;
  border: solid 2px rgb(122, 74, 45);
  font-family: "Road Rage", cursive;
 display: flex;
 justify-content: space-around;
 align-items: center;


}

#animals {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}

#bullimg {
  transform: scaleX(-1);
  width: 25%;
  
  
}

#cowimg {
  transform: scaleX(-1) translateY(-10px);
  width: 20%;
  vertical-align: top;
  margin-top: 5%;
  
}

#message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 10px;
  margin: 5px;
}

#footer{
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;

}
 #clear{
  height: 50px;
  width: 20%;
  vertical-align: top;
  color: white;
  border: solid 2px rgb(122, 74, 45);
  border-radius: 10px;
  background-color: rgb(209, 65, 55);
  font-size: 2.3em;
  font-family: "Road Rage", cursive;
}


 .scores {
  width: 30%;
  text-align: center;
  letter-spacing: .3em;
   
   
   
 }

